## Estructuras de datos, programacion estructurada y funciones
- **Autor**: Richard Rodriguez
- **Fecha**: 23/12/2024

In [268]:
milista1 = [1,2,3,4,5]
milista1

[1, 2, 3, 4, 5]

In [269]:
milista1[0]

1

In [270]:
milista1[4]

5

In [271]:
milista1[2]

3

In [272]:
milista1[-2]

4

In [273]:
milista2 = [7,5,4,2,1]
milista2

[7, 5, 4, 2, 1]

In [274]:
milista1.append(7)

In [275]:
milista2

[7, 5, 4, 2, 1]

In [276]:
milista2.index(2)

3

In [277]:
# slicing
# milista2[inicio(inclusive):final(noincluido):paso]
# si el incio no se especifica por defecto es cero
# si el final no se especifica por defecto es el ultimo elemento
# si el pase no se especifica por defecto es 1

In [278]:
milista2[0:2:1]

[7, 5]

In [279]:
milista2[1:2]

[5]

In [280]:
milista2[1:3]

[5, 4]

In [281]:
milista2[3:]

[2, 1]

In [282]:
milista2[0:3:2]

[7, 4]

In [283]:
milista2[1:3]

[5, 4]

In [284]:
milista2[:3]

[7, 5, 4]

In [285]:
milista2[:-1]

[7, 5, 4, 2]

In [286]:
milista2[:2:-1]

[1, 2]

In [287]:
milista3 = ["pera","uva","manzana","pera","platano"]
milista3

['pera', 'uva', 'manzana', 'pera', 'platano']

In [288]:
milista3.count("pera")

2

In [289]:
milista3.count("uva")

1

In [290]:
milista3[4] = "papaya"
milista3

['pera', 'uva', 'manzana', 'pera', 'papaya']

In [291]:
milista4 = list((3,4,5))
milista4

[3, 4, 5]

In [292]:
midict1 = {"age":22,"name":"Diana"}
midict1

{'age': 22, 'name': 'Diana'}

In [293]:
midict1["age"]

22

In [294]:
midict1["name"]

'Diana'

In [295]:
midict1.get("last_name","no_key")

'no_key'

In [296]:
midict1.keys()

dict_keys(['age', 'name'])

In [297]:
midict1.values()

dict_values([22, 'Diana'])

In [298]:
midict2 = {"age":22,"name":"Eva","age":24}
midict2

{'age': 24, 'name': 'Eva'}

In [299]:
midict2["age"] = 23
midict2

{'age': 23, 'name': 'Eva'}

In [300]:
var1 = 3
str(var1)

'3'

In [301]:
type(var1)

int

In [302]:
var1

3

In [303]:
len(midict1)

2

In [304]:
len(milista2)

5

In [305]:
range(3) # "contiene cero,uno.dos"

range(0, 3)

In [306]:
var2 = range(1,5)
var2

range(1, 5)

In [307]:
lista1 = ["Diana","Eva","Adan"]
lista2 = [22,23,25]
literable1 = zip(lista1,lista2)
literable1

In [308]:
literable2 = list(literable1)
literable2

[('Diana', 22), ('Eva', 23), ('Adan', 25)]

In [309]:
literable1

In [310]:
literable2[0]:[1]

In [311]:
print("hello")
print("goodbye")
print("gone")

hello
goodbye
gone

In [312]:
if "uva" in milista3:
    print("la_uva_esta_en_la_lista")
else:
    print("la_uva_no_esta_en_la_lista")

la_uva_esta_en_la_lista

In [313]:
if "ciruela" in milista3:
    print("la_ciruela_esta_en_la_lista")
else:
    print("la_ciruela_no_esta_en_la_lista")

la_ciruela_no_esta_en_la_lista

In [314]:
if 3<2:
    print("3 es menor que 2")
elif 3==2:
    print("3 es igual a 2")
else:
    print("3 es mayor a 2")

3 es mayor a 2

In [315]:
if 7 in milista2:
    if 4 in milista2:
        print("el 7 y el 4 estan en la lista")
    else:
        print("solo el 7 esta n la lista)")
else:
    print ("el siete no esta en la lista")

el 7 y el 4 estan en la lista

In [316]:
for i in milista3:
    print(i)

pera
uva
manzana
pera
papaya

In [317]:
for fruta in milista3: 
    if fruta !="uva":
        print("fruta")

fruta
fruta
fruta
fruta

In [318]:
def function1():
    print("hello world")

In [319]:
def function2 (name)
    print(f"hello (name)")

SyntaxError: expected ':' (1321245633.py, line 1)

el numero pi es un numero iraacional que aproximadamente equivale a 3,14 para calcularlo podemos utilizar la formulade Leibni que es una a 4*(1-,1/3+1/5-1/7-1/9-..)

In [321]:
def calculate_pi(iterations):
    mi pi = 0
    numerator = 1
    denominator = 1
    for k in range(iterations):
        mi pi = mi pi + numerator/denominator
        numerator = numerator * -1
        denominator = denominator + 2
    return 4 = pi

SyntaxError: invalid syntax (427055217.py, line 2)

In [322]:
calculate_pi(1000)

NameError: name 'calculate_pi' is not defined